extends layout

block head
  title= 'BeTrue'
  script(src='https://use.typekit.net/gzh8ndx.js')
  script.
    try {
      Typekit.load({async: true});
    } catch (e) {
    }
  link(rel='stylesheet', href='/css/betrue.css')

block content
  #api(style="display:none;", server= '#{server}')
  #root
    .container
      for article in articles
        .row
          .col-lg-12
            h1= article.name
            .node-digest= article.digest
            .row
              .col-lg-1
                .node-owner= 'by ' + article.frame.split('@')[1]
              .col-lg-2
                .node-created= new Date(article.created).toDateString()
