extends layout

block head
  title= 'Login'
  script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', { auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}' + '?returnTo=' + '#{env.RETURN_TO}'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});
    lock.show();